.container {
  background-color: #000040;

  z-index: 1;
  position: relative;
}

.content {
  display: flex;
  align-items: flex-end;
  position: relative;
  width: 100%;
  overflow: hidden;
  justify-content: space-between;
  max-width: 1440px;
  margin-inline: auto;
  padding-bottom: 150px;
  margin-top: -80px;
}
.leftside {
  display: flex;
  flex-direction: column;
  padding-left: 208px;
  padding-top: 213px;
  gap: 59px;
}

.title {
  h2 {
    color: #fff;

    font-family: Montserrat;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    width: 697px;
  }
}

.serviços {
  h2 {
    color: #fff;
    leading-trim: both;
    text-edge: cap;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 62px;
  }
  p {
    color: #fff;
    leading-trim: both;
    text-edge: cap;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
  }
}
.top {
  display: flex;
  gap: 174px;
  flex-wrap: wrap;

  button {
    display: flex;
    width: 203px;
    height: 56px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid #fff;
    background: #fff;
    color: var(--brand-blue, #000040);
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
  }
}
.bottom {
  display: flex;
  gap: 174px;
  margin-top: 115px;
}
.button {
  button {
    margin-top: 50px;
    display: flex;
    width: 593px;
    height: 56px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid #fff;
    background: #fff;
    color: var(--brand-blue, #000040);
    cursor: pointer;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
  }
}

.serviceCard {
  width: 203px;
  gap: 28px;
  display: flex;
  flex-direction: column;
  img {
    width: 72px;
    height: 72px;
  }
}

.rightside {
  display: flex;
  flex-direction: column;
  margin-bottom: -110px;
  gap: 48px;

  .carrossel {
    display: flex;
    align-items: center;
    width: 390px;
  }

  .buttonsForCarrossel {
    display: flex;
    align-items: center;
    gap: 28px;

    .wrapArrow {
      cursor: pointer;
      background: #fff;
      border-radius: 50%;
      width: 56px;
      height: 56px;

      .leftArrow {
        margin-top: -3px;
      }
      .rightArrow {
        margin-top: 0px;
      }

      img {
        padding: 5px;
      }
    }
  }
}
.card {
  width: 394px;
  height: 620px;
  flex-shrink: 0;
  border-radius: 2px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 64, 0.6) 65.4%
  );
}
