.container {
  background: #000040;
}
.content {
  display: flex;
  padding-block: 79px;
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 194px;
  justify-content: space-between;
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 80px;
    padding-inline: 20px;
  }

  h2 {
    color: #fff;

    text-align: center;
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
  }
  P {
    color: #fff;

    text-align: center;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    width: 100%;
  }
}
.mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  img {
    width: 70px;
    width: 70px;
  }
}
.eye {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  img {
    width: 70px;
    width: 70px;
  }
}
.valores {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  img {
    width: 70px;
    width: 70px;
  }
}
