.container {
  background-color: #fff;
  display: flex;
  min-height: 100vh;
  height: 100vh;
}
.leftside {
  width: 100%;

  animation: changeBackground 15s ease-in-out infinite;

  position: relative;
  background-size: cover;
  @keyframes changeBackground {
    0% {
      background-image: url("https://d10fqir6n4h7sq.cloudfront.net/public/loginbg.svg");
    }
    33% {
      background-image: url("https://d10fqir6n4h7sq.cloudfront.net/public/cadastrobg.svg");
    }
    66% {
      background-image: url("https://d10fqir6n4h7sq.cloudfront.net/public/recuperarbg.svg");
    }
    100% {
      background-image: url("https://d10fqir6n4h7sq.cloudfront.net/public/loginbg.svg");
    }
  }

  @media only screen and (max-width: 768px) {
    display: none;
  }
  position: relative;
  background-size: cover;
}
.logo {
  padding-left: 48px;
  padding-top: 48px;
}
.socials {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 43px;
  padding-bottom: 47px;
  display: flex;
  gap: 24px;
  cursor: pointer;
}
.title {
  gap: 16px;
  display: flex;
  flex-direction: column;
  h1 {
    color: var(--black, #404049);
    font-family: Outfit;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
  }
  p {
    color: var(--black, #404049);
    font-family: Outfit;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
  }
}
.flexInput {
  padding-top: 16px;
  gap: 6px;
  display: flex;
  flex-direction: column;
  input {
    border-radius: 5px;
    border: 1px solid rgba(64, 64, 73, 0.3);

    background: #fff;
    display: flex;
    height: 43px;
    padding: 16px;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    width: 443px;
    color: #404049;
  }
  @media only screen and (max-width: 768px) {
    input {
      width: 100%;
    }
  }
}

.button {
  margin-top: 72px;
  button {
    border-radius: 5px;
    background-size: 400% 200%;
    border: none;
    background-image: linear-gradient(
      45deg,
      var(--brand-blue, #000040),
      var(--brand-blue, #8787f6),
      var(--brand-blue, #8a8acd),
      var(--brand-blue, #0505b9)
    );
    display: flex;
    width: 442px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    animation: textura 7.4s cubic-bezier(0.2, 0.5, 0.9, 0.6) 2s infinite normal
      none running;
    transition: all 10.8s cubic-bezier(0.55, 0.1, 0.47, 0.94);
  }
  button:hover,
  button:focus {
    filter: brightness(0.9);
  }
  @media only screen and (max-width: 768px) {
    button {
      width: 100%;
    }
  }
}
@keyframes textura {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.rightside {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create {
  display: flex;
  gap: 16px;

  h4 {
    cursor: pointer;
    color: var(--brand-blue, #000040);

    font-family: Outfit;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    text-decoration: underline;
  }
}
.divisor {
  width: 443px;
  height: 1px;
  background: #ececf0;
  margin-top: 20px;
  margin-bottom: 24px;
  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}
.logoR {
  display: none;

  @media only screen and (max-width: 768px) {
    display: block;
    width: 100%;
    margin-bottom: 50px;
    min-width: 300px;
  }
}
