.container {
  flex-direction: column;
  padding-top: 58px;
  padding-bottom: 280px;
  padding-inline: 194px;
  width: 100%;
  align-items: center;
  background-color: #dff6fd;
  justify-content: flex-start;
  margin-top: -15px;
  position: relative;
  @media only screen and (max-width: 768px) {
    padding-bottom: 140px;
  }
  @media only screen and (min-width: 2000px) {
    padding-bottom: 550px;
  }
}
@media (max-width: 768px) {
  .container {
    padding-inline: 20px;
    padding-top: 20px;
  }
  .topcontent h2 {
    font-size: 24px !important;
    margin-bottom: 50px !important;
  }
  .youtube {
    gap: 22px !important;
  }
  .leftbar {
    height: 200px !important;
  }
  .rightbar {
    height: 200px !important;
  }
  .iframe {
    width: auto;
    height: 200px;
    border-radius: 16px;
  }
  .title h2 {
    font-size: 24px !important;
  }
  .title p {
    font-size: 18px !important;
    text-align: center;
  }
  .bottomcontent {
    margin-top: 120px !important;
    gap: 80px !important;
  }
}
.topcontent {
  align-items: center;
  h2 {
    color: var(--brand-blue, #000040);
    text-align: center;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 93px;
  }
}
.iframe {
  border-radius: 16px;
}
.youtube {
  flex-direction: row;
  display: flex;
  gap: 53px;
  iframe {
    border-radius: 16px;
    background: var(--brand-mid-blue, #243d66);
  }
  align-items: center;
  justify-content: center;
}

.leftbar {
  border-radius: 48px;
  background: #1515d9;
  filter: blur(1px);
  width: 7.631px;
  height: 633.369px;
  flex-shrink: 0;
}

.rightbar {
  border-radius: 48px;
  background: #1515d9;
  filter: blur(1px);
  width: 7.631px;
  height: 633.369px;
  flex-shrink: 0;
}
.videobg {
  border-radius: 16px;
  background: var(--brand-mid-blue, #243d66);
}
.bottomcontent {
  margin-top: 300px;
  gap: 126px;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.title {
  h2 {
    color: var(--brand-blue, #000040);
    text-align: center;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
  }
  p {
    color: var(--black, #090812);
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 32px;
}

.Parceiros {
  display: flex;
  align-items: center;
  gap: 50px;
  padding-top: 50px;
  width: 100%;
  padding-bottom: 120px;

  white-space: nowrap;
  position: relative;
  z-index: 10;

  img {
    display: inline-block;
    width: 209.269px;
    height: 58.973px;
  }

  .row {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    width: 100%;
    animation: scrolling-left 20s linear infinite;

    span {
      color: #fff;
      font-family: Syne;
      font-size: 0.73488rem;
      font-style: normal;
      font-weight: 600;
      line-height: 0.82675rem; /* 112.5% */
      letter-spacing: 0.00513rem;
    }
  }
}
@keyframes scrolling-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
