.container {
  background-color: #dff6fd;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  gap: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 194px;

  @media only screen and (max-width: 768px) {
    justify-content: center;
    padding-inline: 0;
    padding-block: 100px 150px;
  }
}
.topcontent {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  h1 {
    color: var(--brand-blue, #000040);
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
  }
  p {
    color: var(--black, #090812);
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
  }
  @media only screen and (max-width: 768px) {
    p {
      font-size: 18px;
    }
    h1 {
      font-size: 40px;
    }
  }
}
.leftside {
  img {
    width: 552px;
    height: 322px;
  }
  @media only screen and (max-width: 768px) {
    img {
      width: 100%;
    }
  }
}
.Underpicture {
  gap: 16px;
  display: flex;
  align-items: center;
  button {
    border-radius: 4px;
    background: #fb2431;
    width: 54px;
    height: 21px;
  }
  p {
    color: var(--brand-mid-blue, #243d66);
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
  }
}
.textleft {
  h1 {
    color: var(--brand-blue, #000040);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
  }
  p {
    color: var(--black, #090812);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
  }
}
.theme1 {
  display: flex;
  gap: 24px;
  img {
    width: 264px;
    height: 148px;
  }
  button {
    border-radius: 4px;
    background: #fb2431;
    width: 54px;
  }
  p {
    color: var(--brand-mid-blue, #243d66);
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
  }
  h1 {
    color: var(--brand-blue, #000040);
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
  }
  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
  @media only screen and (max-width: 768px) {
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.botaoevento {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 17px;
}
.textcontent {
  padding-left: 24px;
  padding-top: 12px;
  @media only screen and (max-width: 768px) {
    text-align: left;
    padding: 0;
  }
}
.Theme {
  display: flex;
  gap: 10px;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.theme2 {
  display: flex;
  gap: 24px;
  padding-top: 32px;
  img {
    width: 264px;
    height: 148px;
  }
  button {
    border-radius: 4px;
    background: #24c8fb;
    width: 54px;
    color: var(--brand-blue, #000040);

    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
  }
  p {
    color: var(--brand-mid-blue, #243d66);
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
  }
  h1 {
    color: var(--brand-blue, #000040);
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
  }
  @media only screen and (max-width: 768px) {
    flex-direction: column;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.textcontent2 {
  padding-left: 24px;
  padding-top: 12px;
  @media only screen and (max-width: 768px) {
    text-align: left;
    padding: 0;
  }
}
.theme3 {
  display: flex;
  gap: 24px;
  padding-top: 32px;
  img {
    width: 264px;
    height: 148px;
  }
  button {
    border-radius: 4px;
    background: #2460fb;
    width: 54px;

    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
  }
  p {
    color: var(--brand-mid-blue, #243d66);
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
  }
  h1 {
    color: var(--brand-blue, #000040);
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
  }
  @media only screen and (max-width: 768px) {
    flex-direction: column;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
.textcontent3 {
  padding-left: 24px;
  padding-top: 12px;
  @media only screen and (max-width: 768px) {
    text-align: left;
    padding: 0;
  }
}
.theme4 {
  display: flex;
  gap: 24px;
  padding-top: 32px;
  img {
    width: 264px;
    height: 148px;
  }
  button {
    border-radius: 4px;
    background: #ff9040;
    width: 54px;

    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
  }
  p {
    color: var(--brand-mid-blue, #243d66);
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
  }
  h1 {
    color: var(--brand-blue, #000040);
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
  }
  @media only screen and (max-width: 768px) {
    flex-direction: column;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
.textcontent4 {
  padding-left: 24px;
  padding-top: 12px;
  @media only screen and (max-width: 768px) {
    text-align: left;
    padding: 0;
  }
}
.swiper {
  height: 100%;
}

.swiperSlide {
  text-align: center;
  font-size: 18px;
  border-radius: 15px;
  color: var(--white);
  max-height: 561px;
  padding-block: 4.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 350px;
  cursor: pointer;

  @media only screen and (max-width: 768px) {
    max-width: 148px;
    padding-block: 26px;
  }
}

.swiperSlide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  max-width: 326px;
  height: 186px;
  margin-bottom: 8px;

  @media only screen and (max-width: 768px) {
    max-width: 188px;
    height: 95px;
    object-fit: cover;
  }
}

.swiperContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    font-family: Montserrat;
    color: #000040;
    text-align: start;
    &:hover {
      text-decoration: underline;
    }
  }

  p {
    font-weight: 400;
    font-size: 16px;
    font-family: Montserrat;
    line-height: 20px;
    color: #000040;
    margin-top: 8px;
    text-align: start;
    &:hover {
      text-decoration: underline;
    }
  }

  @media only screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
    h3 {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 18px;
    }
    p {
      text-align: left;
      color: #f4c648;
      font-weight: 600;
      font-size: 12px;
      line-height: 12px;
    }
  }
}
