.container {
  background: var(--White, #fff);
  padding-bottom: 70px;
  @media only screen and (max-width: 768px) {
    display: none;
  }
}
.content {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 194px;
}
.topcontent {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin-inline: auto;
  border-bottom: 1.333px solid var(--brand-blue, #000040);
  padding-bottom: 20px;
  padding-top: 68px;
}
.pages {
  display: flex;
  flex-direction: row;
  ul {
    display: flex;
    gap: 30px;
  }
  li {
    color: var(--brand-blue, #000040);
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    list-style-type: none;
    cursor: pointer;
  }
}
.social {
  display: flex;
  gap: 53px;
}
.bottomcontent {
  display: flex;
  gap: 50px;
  padding-top: 64px;

  margin-inline: auto;
  max-width: 1440px;
  padding-inline: 194px;
  p {
    color: var(--brand-blue, #000040);
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    width: 257px;
  }
  ul {
    display: flex;
    gap: 96px;
  }
  li {
    color: var(--brand-blue, #000040);
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    list-style-type: none;
    cursor: pointer;
  }
}
.undertitle {
  display: flex;
  padding-top: 30px;

  h2 {
    color: var(--grayscale-700, #3c3c3c);
    font-family: Montserrat;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 500;
    opacity: 0.87;
  }
  p {
    color: var(--grayscale-700, #3c3c3c);
    font-family: Montserrat;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    opacity: 0.87;
  }
}
.middle {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.like {
  width: 100px;
}
.stars {
  width: 159px;
}
.containerresponsive {
  display: none;
  background: var(--White, #fff);
  padding-bottom: 70px;
  @media only screen and (max-width: 768px) {
    display: block;
  }
}
.pagesresponsive {
  display: grid;
  flex-direction: column;
  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 30px;
  }
  li {
    color: var(--brand-blue, #000040);
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    list-style-type: none;
    cursor: pointer;
  }
}
.topcontentresponsive {
  display: flex;
  flex-direction: column;
  gap: 60px;
  img {
    width: 200px;
    height: 24px;
  }
  p {
    color: var(--brand-blue, #000040);
    text-align: center;
    font-family: Poppins;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
  }
}
.contentresponsive {
  padding-inline: 20px;
  padding-block: 30px;
}
.politicasresponsive {
  li {
    color: var(--brand-blue, #000040);
    font-family: Montserrat;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    list-style-type: none;
    cursor: pointer;
    text-align: center;
  }
  ul {
    display: flex;
    justify-content: space-between;
  }
}
.divisor {
  width: 100%;
  height: 1px;
  background-color: #000040;
}
.socialresponsive {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  max-width: 390px;
  img {
    width: 24px;
    height: 24px;
  }
}
.info {
  display: flex;
  gap: 50px;
  padding-top: 64px;

  margin-inline: auto;
  max-width: 1440px;
  padding-inline: 194px;
  p {
    color: var(--brand-blue, #000040);
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    width: 257px;
  }
}
