.container {
  flex-direction: column;
  padding-top: 58px;
  padding-bottom: 250px;
  padding-inline: 194px;
  width: 100%;
  align-items: center;
  background-color: #dff6fd;
  justify-content: flex-start;
  margin-top: -15px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 250%;
    height: 400px;
    background-image: url('/divisorBlue2.svg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: -100px;
    z-index: 2;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 350px;
    background-image: url('/divisorBlue3.svg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: -100px;
    z-index: 1;
  }
}

.topcontent {
  align-items: center;
  h2 {
    color: var(--brand-blue, #000040);
    text-align: center;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 93px;
  }
}
.youtube {
  flex-direction: row;
  display: flex;
  gap: 53px;
  iframe {
    border-radius: 16px;
    background: var(--brand-mid-blue, #243d66);
  }
  align-items: center;
  justify-content: center;
}

.leftbar {
  border-radius: 48px;
  background: #1515d9;
  filter: blur(1px);
  width: 7.631px;
  height: 633.369px;
  flex-shrink: 0;
}

.rightbar {
  border-radius: 48px;
  background: #1515d9;
  filter: blur(1px);
  width: 7.631px;
  height: 633.369px;
  flex-shrink: 0;
}
.videobg {
  border-radius: 16px;
  background: var(--brand-mid-blue, #243d66);
}
.bottomcontent {
  margin-top: 300px;
  gap: 126px;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.title {
  h2 {
    color: var(--brand-blue, #000040);
    text-align: center;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
  }
  p {
    color: var(--black, #090812);
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 32px;
}

.Parceiros {
  display: flex;
  align-items: center;
  gap: 50px;
  padding-top: 50px;
  width: 100%;
  padding-bottom: 120px;

  white-space: nowrap;
  position: relative;
  z-index: 10;

  img {
    display: inline-block;
    width: 209.269px;
    height: 58.973px;
  }

  .row {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    width: 100%;
    animation: scrolling-left 20s linear infinite;

    span {
      color: #fff;
      font-family: Syne;
      font-size: 0.73488rem;
      font-style: normal;
      font-weight: 600;
      line-height: 0.82675rem; /* 112.5% */
      letter-spacing: 0.00513rem;
    }
  }
}
@keyframes scrolling-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
