.container {
  position: relative;
  margin-inline: auto;
  background-color: var(--brand-blue, #000040);
  z-index: 0;
  padding-top: 17px;
}

.container::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  aspect-ratio: 300 / 67;
  background-image: url('/fique.svg');
  background-position: left 78px;
  background-repeat: no-repeat;
  z-index: -1;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 100%;
  gap: 80px;
  justify-content: flex-start;
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 194px;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 20px;

  h1 {
    color: #fff;
    font-family: Montserrat;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
  }

  p {
    color: #fff;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
  }
}

.addres {
  display: flex;
  flex-direction: row;
  gap: 18px;

  h1 {
    color: #fff;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
  }

  p {
    color: #fff;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding-top: 10px;
  }
}

.email {
  display: flex;
  flex-direction: row;
  gap: 18px;

  h1 {
    color: #fff;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
  }

  p {
    color: #fff;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    padding-top: 7px;
  }
}

.icon {
  display: flex;
  gap: 72px;
  padding-top: 61px;
}

.backgroundContainer {
  position: relative;
}

.background {
  width: 352px;
  height: 459px;
  position: relative;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 28px 0px rgba(0, 0, 0, 0.15);
  transform: rotate(3deg);
  align-items: center;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 22px;

  .title {
    h2 {
      color: var(--brand-blue, #000040);
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
    }

    padding-top: 42px;
  }

  .name {
    h3 {
      color: var(--Black, #27323f);
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
    }

    input {
      color: #637381;
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      background: none;
      border: none;
      border-bottom: 1px solid #f1f1f1;
      outline: none;
      width: 262px;
    }
  }

  .contactemail {
    h3 {
      color: var(--Black, #27323f);
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
    }

    input {
      color: #637381;
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      background: none;
      border: none;
      border-bottom: 1px solid #f1f1f1;
      outline: none;
      width: 262px;
    }
  }

  .phone {
    h3 {
      color: var(--Black, #27323f);
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
    }

    input {
      color: #637381;
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      background: none;
      border: none;
      border-bottom: 1px solid #f1f1f1;
      outline: none;
      width: 262px;
    }
  }

  .message {
    h3 {
      color: var(--Black, #27323f);
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
    }

    input {
      color: #637381;
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      background: none;
      border: none;
      border-bottom: 1px solid #f1f1f1;
      outline: none;
      width: 262px;
    }
  }

  .send {
    button {
      width: 258px;
      height: 40px;
      border-radius: 5px;
      border: none;
      background: var(--brand-light-blue, #16c2f4);
      color: var(--brand-blue, #000040);
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
    }

    padding-top: 22px;
  }
}

.newBackground {
  width: 352px;
  height: 459px;
  border-radius: 8px;
  background: #fff; /* Replace with your desired background color or image */
  box-shadow: 0px 4px 28px 0px rgba(0, 0, 0, 0.15);
  transform: rotate(5deg);
  margin-top: 23px;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 22px;
  z-index: -1;
}

.bottomcontent {
  width: 1074px;
  height: 200px;
  border-radius: 13.333px;
  background: var(--White, #fff);
  margin-inline: auto;
  display: flex;
  align-items: center;
  padding-inline: 66px;
  margin-top: 100px;
  gap: 20px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);

  h1 {
    color: var(--brand-blue, #000040);
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
  }
}

.rightsidebottom {
  display: flex;
  flex-direction: row;

  input {
    width: 356px;
    height: 92px;
    background: none;
    border: none;
    color: var(--brand-blue, #000040);
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    padding-left: 24px;
  }

  button {
    border-radius: 5px;
    background: var(--brand-light-blue, #16c2f4);
    width: 202px;
    height: 70px;
    margin-block: 13px;
    margin-right: 20px;
    border: none;
    color: var(--brand-blue, #000040);
    font-family: Inter;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 600;
  }
}

.inputcontainer {
  display: flex;
  border-radius: 5.333px;
  border: 2.667px solid rgba(0, 0, 64, 0.1);
}

.contatos {
  h1 {
    color: #fff;
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
  }
}

.location {
  h1 {
    color: #fff;
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
  }
}
