.container {
  flex-direction: column;
  padding-top: 58px;
  padding-bottom: 125px;
  padding-inline: 194px;
  width: 100%;
  align-items: center;
  background-color: #dff6fd;
  justify-content: flex-start;
  margin-top: -15px;
  position: relative;
  @media (max-width: 768px) {
    padding-inline: 0;
  }
}

.topcontent {
  align-items: center;
  margin-inline: auto;
}
.youtube {
  flex-direction: row;
  display: flex;
  gap: 53px;
  iframe {
    border-radius: 16px;
    background: var(--brand-mid-blue, #243d66);
    @media (max-width: 768px) {
      width: auto;
      height: 200px;
    }
  }
  align-items: center;
  justify-content: center;
  @media (max-width: 768px) {
    gap: 22px;
  }
}

.leftbar {
  border-radius: 48px;
  background: #1515d9;
  filter: blur(1px);
  width: 7.631px;
  height: 633.369px;
  flex-shrink: 0;
  @media (max-width: 768px) {
    height: 250px;
  }
}

.rightbar {
  border-radius: 48px;
  background: #1515d9;
  filter: blur(1px);
  width: 7.631px;
  height: 633.369px;
  flex-shrink: 0;
  @media (max-width: 768px) {
    height: 250px;
  }
}
.videobg {
  border-radius: 16px;
  background: var(--brand-mid-blue, #243d66);
}
.title {
  margin-inline: auto;
  margin-bottom: 93px;
  max-width: 1440px;
  align-items: center;
  display: flex;
  justify-content: center;
  h2 {
    color: var(--brand-blue, #000040);
    text-align: center;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;

    width: 500px;
  }
  @media only screen and (max-width: 768px) {
    h2 {
      font-size: 1.5rem;
    }
    margin-bottom: 50px;
  }
}
