.container {
    background-image: url('DEBITOS.svg');
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 844px;
    margin-inline: auto;
}
.overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding-inline: 194px;
    height: 100%;
    display: flex;

    align-items: center;
    background: linear-gradient(
        90deg,
        rgba(51, 102, 153, 0.9) 53.53%,
        /* #336699 com 90% de opacidade */ rgba(51, 102, 153, 0) 70.97%
            /* #336699 completamente transparente */
    );
    @media only screen and (max-width: 768px) {
        padding-inline: 20px;
        background: linear-gradient(
            180deg,
            rgba(51, 102, 153, 0.9) 53.53%,
            /* #336699 com 90% de opacidade */ rgba(51, 102, 153, 0) 70.97%
        );
    }
}
.text {
    justify-content: center;
    gap: 20px;
    display: flex;
    flex-direction: column;
    max-width: 1083px;
    margin-inline: auto;
}

.title {
    img {
        width: 250px;
    }
    display: flex;
    gap: 24px;
    flex-direction: column;
    h1 {
        color: #fff;

        font-family: var(--font-montserrat, sans-serif);
        font-size: 2rem;
        font-style: normal;
        font-weight: 800;
    }
    p {
        color: #fff;

        font-family: var(--font-montserrat, sans-serif);
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        padding-right: 580px;
        @media only screen and (max-width: 768px) {
            padding-right: 0;
        }
    }
}
.button {
    button {
        gap: 12px;
        border-radius: 7px;
        border: 1px solid #fff;
        justify-content: center;
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 250px;
        height: 48px;
        color: #fff;
        background: none;
        font-family: var(--font-montserrat, sans-serif);
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
    }
}
